=render partial: "/layouts/header"
%h1 Помощь
.center
	Перед Вами транслятор с Милана на Си
	%p
	"Ключевые слова" - просмотр или редактирование ключевых слов
	%p
	"Зарезервированные слова" - просмотр и редактирование зарезервированных слов
	%p
	Жми "Создать новую трансляцию" для того чтобы создать новую трансляцию
	%p
	"Транслированные программы" - изменение и просмотр предыдущих программ
	%p
	Чтобы вернуться на главную нажмите "MILAN2C"
=render partial: "/layouts/footer"
