=render partial: "/layouts/header"
%h1 Транслятор из Милана на Си
.center
	=image_tag("welcome.jpg", size: "750x270")
	%p
.center
	<a href="/translations/new" class="btn btn-primary" role="button">Создать новую трансляцию</a>
=render partial: "/layouts/footer"
